<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='select_category.js') }}"></script>
	<link type=text/css href="{{ url_for('static', filename='accordion.css') }}" rel="stylesheet"/>
	<script type=text/javascript src="{{ url_for('static', filename='select2.js') }}"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<title>Удалёнка — Блог</title>
  </head>

  <body style="margin:0;"  ontouchstart="" >
	<header>
		<div class="header_overlay">
			<h1 class="header_title" onclick="window.location.href = '/'"><img src="{{ url_for('static', filename='logo.svg') }}" class="header_title_logo">Удалёнка (Beta)</h1>
			
			<style>
    			.dropdown {
    			  position: relative;
    			  display: inline-block;
    			}
    
    			.dropdown-content {
    			  display: none;
    			  position: absolute;
    			  background-color: #f9f9f9;
    			  min-width: 100px;
    			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    			  padding: 12px 16px;
    			  z-index: 1;
    			}
    
    			.dropdown:hover .dropdown-content {
    			  display: block;
    			}
			</style>

			<div class="dropdown" style="position:absolute;left:12px;top:12px;">
			  <img src="{{ url_for('static', filename='menu2.png') }}" width=30px height=30px>
			  <div class="dropdown-content">
				<a href="/">Главная</a><br>
				<a href="/faq">FAQ</a><br>
				<a href="/blog">Блог</a><br>
			  </div>
			</div>
			
			<form  class="header_form">
				<select id="skilz" class="js-example-basic-multiple" name="skills" style="width:200px">
				<option>Все вакансии</option>
				<option>Избранное</option>
				<option>HR</option>
				<optgroup label="Marketing">
			    	<option>SEO/E-mail</option>	
			    	<option>Ads/Lead</option>	
				</optgroup>
				<option>SMM</option>
				<option>IT-sales</option>
				<option>Analyst</option>
				<option>Support</option>				
				<option>Databases</option>		
				<option>SysAdmin/Network</option>
				<option>IT Security</option>
				<option>QA Manual</option>
				<option>QA Automation</option>
				<option>Copywriting</option>
				<optgroup label="Management">
						<option>Project Management</option>
						<option>Product Management</option>	
						<option>Marketing Management</option>
				<optgroup label="Developer">
						<option>Full Stack</option>
						<option>Python</option>
						<option>Java</option>
						<option>Golang</option>
						<option>Scala</option>
						<option>C/C++</option>
						<option>C#/.NET</option>
						<option>1C</option>
						<option>PHP</option>
						<option>Node.JS</option>
						<option>Ruby</option>
						<option>CRM, ERP</option>
						<option>Embedded</option>
						<option>Front End</option>
						<option>Data Science</option>
						<option>Blockchain</option>
			        	<option>Game Development</option>
			         	<option>Mobile Development</option>
				</optgroup>
				<optgroup label="Design">
						<option>Web Design</option>
						<option>UI/UX</option>
						<option>Graphic Design</option>
						<option>3D Design</option>
						<option>Motion Design</option>
				</optgroup>
				</select>
			</form>
		</div>
	</header>
	
		<center style="font-size:30px; margin:10px;">Блог</center>
		
        	<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >07.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Добавлены теги внутри категорий, ищет указанные слова внутри заголовка или описания. Пока не для каждой категории.</span>
					</div>
				</div>
			</button>
		
        	<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >06.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Категории теперь можно добавить в "Избранное" по нажатию звёздочки и смотреть несколько категорий в одном месте, убираются так же.</span>
					</div>
				</div>
			</button>
		
        	<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >05.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Под основную кнопку перехода добавлены дополнительные для перехода на другие сайты с аналогичной вакансией, если таковы есть. Сверяется название вакансии в комбинации с компанией.</span>
					</div>
				</div>
			</button>
		
			<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >05.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Добавлена функция проверки на новые вакансии каждые 5 минут, в случае успеха — показывается табличка с оповещанием вверху сайта, также количество новых вакансий отображается в названии вкладки.</span>
					</div>
				</div>
			</button>
		
			<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >04.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Просмотренные вакансии теперь сереют сразу, а не после перезагрузки.</span>
					</div>
				</div>
			</button>
		
			<button class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head">
					<div class="accordion_head_info" style="width:100%">
						<span id="title" class="accordion_head_info_position" >04.07.21</span>
						<span id="company" class="accordion_head_info_company"  style="max-width:100%">Добавил опыт работы, основные принципы: </br>
						— если напрямую не указано сколько лет, то считается 0;</br>
						— округляется в большую сторону (1,5 > 2);</br>
						— если указано от и до, берется меньшее (1-2 > 1).</span>
					</div>
				</div>
			</button>
	
  </body>
</html>
				