<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script>
	<link type=text/css href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
	<script type=text/javascript src="{{ url_for('static', filename='first_data.js', v='16.74') }}"></script>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<title>Удалёнка — Поиск удалённой работы</title>
  </head>

  <body>
	<header>
		<div class="header_overlay">
			<h1 class="header_title" onclick="window.location.href = '/'"><img src="{{ url_for('static', filename='logo.svg') }}" class="header_title_logo">Удалёнка (Beta)</h1>
			
			<nav role="navigation" style="position:absolute;left:1.25rem;top:1.25rem;">
			  <div id="menuToggle">
				<input type="checkbox" />
				<span></span>
				<span></span>
				<span></span>
				<ul id="menu" style="width:100vw;text-align:center;">
				  <a href="#"><li>Главная</li></a>
				  <a href="/faq"><li>Факью</li></a>
				  <a href="/blog"><li>Блог</li></a>
				</ul>
			  </div>
			</nav>
			
			<form id="select_category" class="header_form">
				<select class="js-example-basic-multiple">
				<option>Все вакансии</option>
				<option>Избранное</option>
				<option>HR</option>
				<optgroup label="Marketing">
			    	<option>SEO/E-mail</option>	
			    	<option>Ads/Lead</option>	
				</optgroup>
				<option>SMM</option>
				<option>IT-sales</option>
				<option>Analyst</option>
				<option>Support</option>				
				<option>Databases</option>		
				<option>SysAdmin/Network</option>
				<option>IT Security</option>
				<option>QA Manual</option>
				<option>QA Automation</option>
				<option>Copywriting</option>
				<optgroup label="Management">
						<option>Project Management</option>
						<option>Product Management</option>	
						<option>Marketing Management</option>
				<optgroup label="Developer">
						<option>Full Stack</option>
						<option>Python</option>
						<option>Java</option>
						<option>Golang</option>
						<option>Scala</option>
						<option>C/C++</option>
						<option>C#/.NET</option>
						<option>1C</option>
						<option>PHP</option>
						<option>Node.JS</option>
						<option>Ruby</option>
						<option>CRM, ERP</option>
						<option>Embedded</option>
						<option>Front End</option>
						<option>Data Science</option>
						<option>Blockchain</option>
			        	<option>Game Development</option>
			         	<option>Mobile Development</option>
				</optgroup>
				<optgroup label="Design">
						<option>Web Design</option>
						<option>UI/UX</option>
						<option>Graphic Design</option>
						<option>3D Design</option>
						<option>Motion Design</option>
				</optgroup>
				</select>
			</form>
		</div>
	</header>
	
	<button class="accordion" style="">
    	<div id="filters" class="accordion_head" onclick="filters(this)">
    		<div class="accordion_head_info" style="width:100%">
    			<span id="filter_label" class="accordion_head_info_position" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family:'MontBold'; display:inline;">Фильтр▾</span>
				<a id="favorite" class="favorite" onclick="favorite(this)" style="float:right; font-size:30px; line-height:20px">☆</a>
    		</div>
    	</div>
    	<div class="panel">
    		<p style="margin: 5px 0px 0px 0px; font-size:14px; font-family:'Mont';">Опыт работы:</p>
    		<div class="pagination" style="">
    			<a id="exp_button" onclick="set_experience(this)" value="69">Все</a>
    			<a id="exp_button" onclick="set_experience(this)" value="1">1 год</a>
    			<a id="exp_button" onclick="set_experience(this)" value="2">2 года</a>
    			<a id="exp_button" onclick="set_experience(this)" value="3">3 года</a>
    			<a id="exp_button" onclick="set_experience(this)" value="4">4 года</a>
    			<a id="exp_button" onclick="set_experience(this)" value="10">5 лет и больше</a>
    		</div>
    		<p style="margin: 5px 0px 0px 0px; font-size:14px; font-family:'Mont';">Источники:</p>
    		<div class="pagination" style="margin: 5px 10px 5px 0px; justify-content: left; font-size:14px; font-family:'Mont'; flex-wrap: wrap;">
    			<a id="source" class="source" onclick="source(this)" value="djinni" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">djinni</a>
    			<a id="source" class="source" onclick="source(this)" value="work" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">work</a>
    			<a id="source" class="source" onclick="source(this)" value="rabota" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">rabota</a>
    			<a id="source" class="source" onclick="source(this)" value="dou" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">dou</a>
    			<a id="source" class="source" onclick="source(this)" value="grc" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">grc</a>
    			<a id="source" class="source" onclick="source(this)" value="jooble" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">jooble</a>
    			<a id="source" class="source" onclick="source(this)" value="trud" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">trud</a>
    			<a id="source" class="source" onclick="source(this)" value="freelancehunt" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px;">freelancehunt</a>
    		</div>
			<p id="tag_label" style="margin: 0px; font-size:14px; font-family:'Mont';">Теги:</p>
			<div id="tag_list" class="tag_list" style="display:flex; align-items:center; margin: 5px 10px 5px 0px; justify-content: left; font-size:14px; font-family:'Mont'; flex-wrap: wrap;">
			</div>
			<p id="fav_label" style="margin: 0px; font-size:14px; font-family:'Mont';">Избранное:</p>
			<!--<p id="empty_favs" style="visibility: hidden; margin:0; margin-left: 5px;">Здесь пока ничего нет, нажмите на звездочку в нужной категории чтобы добавить её в список</p>-->
			<div id="fav_list" class="fav_list" style="display:flex; align-items:center; margin: 5px 10px 5px 0px; justify-content: left; font-size:14px; font-family:'Mont'; flex-wrap: wrap;">
			</div>
			<p style="margin: 5px 0px 0px 0px; font-size:14px; font-family:'Mont';">Зарплата:</p>
			<div style="margin-bottom:10px; margin-top:5px;">
				<input type="number" id="salary" name="salary" class="salary" style="border:1px solid #D1D1D1; border-radius:5px; padding:5px;" pattern="[0-9]+" placeholder="в гривнах">
				<a id="enter" class="enter" onclick="enter()" style="margin: 0 5px 5px 0; margin-left: 10px;border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px; text-decoration:none; padding-right:20px;padding-left:20px">Поиск</a><br>
			</div>
			<div style="display:flex;align-items:center;margin-top:10px;">
				<input type="checkbox" id="zp" name="zp" class="zp" checked onclick="zp()">
				<label for="zp" class="zp" style="margin-left:5px; margin-bottom:5px">Показывать без З/П</label>
			</div>
    	</div>
	</button>
	
	
	<button id="news" class="accordion" style="top: 0; display: block;">
		<div id="job_id" class="accordion_head" style="justify-content: center">
			<p id="new_posts" style="font-family: 'MontBold';"></p><p value="14" id="old_posts"></p>
		</div>
			<p style="margin-top: 5px; text-align:center;">Появились свежие вакансии по Вашему запросу, обновите страницу чтобы их посмотреть.</p>
			<a id="url" onClick="location.reload();" class="button" style="padding:10px; width:180px;">Обновить страницу</a>
	</button>
			
	<script>
		document.querySelector('#news').style = "top: 0; display: none; max-height: 0; border: 0; padding: 0;";
	</script>
	
	<section class="accordion_overlay" style="margin-top: 0;">
	<div id="scroller">
	<template id="post_template">
			<button onclick="accordion(this)" class="accordion" style="top: 0; display: block;">
				<div id="job_id" class="accordion_head" style="position:relative;align-items:center;">
					<div id="img" class="accordion_head_logo" style="border:1px solid rgb(209, 209, 209)"></div>
					<div class="accordion_head_info">
						<span id="title" class="accordion_head_info_position" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;margin: 0px;line-height:16px;"></span>
						<span id="company" class="accordion_head_info_company"  style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height:16px;"></span>
					</div>
					<span id="date" class="accordion_head_date" style="width:120px;text-align:right;position:absolute;right:0;bottom:0;line-height:16px;"></span>
				</div>
				<div class="panel">
				    <div style="margin-top:14px;">
					<span id="salary" class="accordion_head_info_company" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height:16px;max-width:100%"></span>
					<span id="exp" class="accordion_head_info_company" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height:16px;max-width:100%;"></span>
					</div>
					<span id="description" class="panel_overlay" style="margin-top:0;" ></span>
					<a id="url" onClick="" class="button">Посмотреть вакансию полностью</a>
					<a id="rabota.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="work.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="dou.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="djinni.co" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="grc.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="freelancehunt.com" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="jooble.org" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="trud.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="superjob.ru" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="jobs.ua" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
					<a id="trud.com" onClick="" class="button" style="visibility: hidden; height:0; margin:0; padding:0;"></a>
				</div>
			</button>
	</template>
	</div>
	</section>
	
	<template id="fav_template">
		<a id="fav" class="fav" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px; text-decoration:none;"></a>
	</template>
	
	<template id="tag_template">
		<a id="tag" class="tag" onclick="tags(this)" style="margin: 0 5px 5px 0; border: 1px solid #D1D1D1; border-radius: 5px; padding: 5px; text-decoration:none;"></a>
	</template>

	<div id="sentinel" style="height:10px"></div>
	<div class="loader" id="loader"></div>


	<button onclick="topFunction()" id="myBtn" style="border: 0px; background: transparent; display: block;"><img id="myImg" style="display: none;" src="/static/top.png" width="50" height="50" alt="submit"></button>

  </body>
</html>
				